@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.container{
    width:1140px;
    margin: 0 auto;
}
.hero-area{
    margin: 30px 0 30px;
}
.hero-content{
    display: flex;
}
.left-b,.right-b{
    width: 50%;
}
.left-b h1{
    font-size: 51px;
    margin-top: 180px;
    font-weight: 800;
    color: #575757;
    width: 88%;
}
.left-b h1 span{
    color: #FBA24F;
}
.left-b p{
    font-size: 18px;
    font-weight: 400;
    margin-top: 30px;
    margin-bottom: 30px;
    width: 80%;
}
.left-b a{
   background: linear-gradient(to right,#FBA24F, #FF1E1E );
   padding: 10px 20px;
   border-radius: 35px;
   text-decoration: none;
   color: #fff;
   font-size: 14px;
   transition: 0.4s;
}
.left-b a:hover{
    background: #575757;
    transition: 0.4s;
}
.right-b img{
    width: 100%;
}